body {
    background-color: #ae2d2d;
    margin: 0;
    padding: 0;
}

header {
    background-color: #34495e;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-family: 'Papyrus', fantasy;
    color: #fff;
    font-size: 36px;
    margin-bottom: 10px;
    margin: 0;
}

header h2 {
    font-family: 'Papyrus', fantasy;
    color: #fff;
    font-size: 12px;
    margin-bottom: 10px;
    margin: 0;
}

nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
}

.container {
    font-family: 'Georgia', sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7ff9c;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
}

.question {
    text-align: left;
    margin-bottom: 10px;
    color: #333;
    float: left;
    clear: left;
}

.question-image {
    width: 200px;
    margin-bottom: 10px;
    float: right;
    clear: right;
}

.options {
    margin-bottom: 20px;
    float: left;
    clear: left;
}

.options label {
    display: block;
    margin-bottom: 10px;
    color: #666;
    float: left;
    clear: left;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.result {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

footer {
    background-color: #34495e;
    color: #fff;
    padding: 20px;
    text-align: center;
}